name: cost

on:
  push:
  schedule:
    - cron: '0 3 * * *' #UTC

jobs:
  cost:
    name: cost
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: 8.3
          extensions: mbstring
          coverage: none
      - name: Install Composer dependencies
        run: composer install --no-dev -q
      - name: Run
        run: php artisan aws:cost
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          MAIL_MAILER: "ses"
          MAIL_FROM_ADDRESS: ${{ secrets.MAIL_FROM_ADDRESS }}
          MAIL_TO_ADDRESS: ${{ secrets.MAIL_TO_ADDRESS }}
          LINE_NOTIFY_PERSONAL_ACCESS_TOKEN: ${{ secrets.LINE_NOTIFY_PERSONAL_ACCESS_TOKEN }}
